{% extends '../app_base.html' %}
{% load static %}

{% block styles %}
<!-- font-awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- bootstrap styles -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<!-- highlight.js styles -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/base16/summerfruit-light.min.css">

<!-- app styles -->
<link rel="stylesheet" href="{% static 'css/init.css' %}">
<link rel="stylesheet" href="{% static 'css/create.css' %}">
<link rel="stylesheet" href="{% static 'css/utils.css' %}">
{% endblock %}

{% block endbody_script %}
<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

<!-- highlight.js -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{% static 'js/article_create.js' %}"></script>
<script src="{% static 'js/article_highlight.js' %}"></script>
<script src="{% static 'js/article_module.js' %}"></script>
<script src="{% static 'js/article_file.js' %}"></script>
<script>

  // 各file_idに基づいたエディタとcodeのhighlightをアクティベート
  const tab_contents = $('.tab-pane.code');
  for (let i = 0; i < tab_contents.length; i++) {
    const file_id = $(tab_contents[i]).attr('id');
    const highlight = new HighLight(file_id);
    highlight.changeCodeValue();
    highlight.addInputEventHighLight();
    highlight.addFocusEventHighLight();
  }

  // formのsubmitイベントの前に各ファイルのLanguage情報をpostに追加する
  const form = $('.form')[0].onsubmit = function() {

    const tab_contents = $('.tab-pane').not('#input').not('#output');
    for (let i = 0; i < tab_contents.length; i++) {
      const file_id = $(tab_contents[i]).attr('id');

      // module_idを取得する
      let module_id;
      const classes = $(`#${file_id}`)[0].classList;
      for (let i = 0; i < classes.length; i++) {
        if(classes[i].indexOf('module') !== -1) module_id = classes[i];
        break;
      }

      // fileのlanguageを取得し、file_idとmodule_idからlanguage情報を載せたinputタグをフォームに追加する
      const class_list = $(tab_contents[i]).find('code')[0].classList;
      console.log(class_list, 'ここ');

      for (let j = 0; j < class_list.length; j++) {
        if (LANGUAGES.includes(class_list[j].replace('language-', '')) && !LANGUAGES.includes(class_list[j])) {
          const array = class_list[j].split('-');
          const input_hidden = `<input name="${module_id}_${file_id}-language" value="${array[1]}" type="hidden">`;
          console.log(input_hidden);
          $(tab_contents[i]).append(input_hidden);
          break;
        }
      }
      // console.log(class_list)
    }
    // return false;
  };

  const delete_btn = $('.delete');
  delete_btn.on('click', function() {
    const form = $('.form')[0];
    // form.setAttribute('action', 'http://localhost:8000/delete/')
    form.setAttribute('action', "{{ request.scheme }}://{{ request.get_host }}/delete/")
    $('.update').click();
  });

  const execute = document.getElementsByClassName('execute')[0].firstElementChild;
  console.log(document.getElementsByName('csrfmiddlewaretoken')[0].value);

  const file_add_button = document.getElementById('file-add-button');
  file_add_button.addEventListener('click', function() {
    const active_module_id = $('.module-box.show').attr('id');

    const file = new File({'module_id' : active_module_id});
    // 新しいファイルタブを作る処理
    const new_file_nav_item = file.createElementNewFileNavItem();
    // 新しいtab contentを作る処理
    const new_file_tab_content = file.createElementNewFileTabContent();
    $(file_add_button).parent('.file-add').before(new_file_nav_item);
    $('.tab-content.files').append(new_file_tab_content);

    // 新しいファイルタブをクリックしたとき、ドロップダウンの言語を一致させる
    const new_nav_item_entity = $(file_add_button).parent('.file-add').prev();
    new_nav_item_entity.on('click', function() {
      // ついでに他のファイルタブのactiveを取り除く処理もさせておく
      $('.nav-item').not($(this)).not('#input-nav-item').not('#output-nav-item').each(function(index, element) {
        $(element).removeClass('active');
      });
      file.setDropDownMenuLanguage();
    });

    $(new_nav_item_entity).children('button.nav-link').children('span').on('click', function(e) {
      e.stopPropagation();

      const this_file_id = file.id;
      const module_id = active_module_id;

      console.log(this_file_id, module_id);

      const left = $(`.nav-item.${module_id}`).not($(new_nav_item_entity)).not('#input-nav-item').not('#output-nav-item').first();
      const left_file_id = left.children('button.nav-link').attr('aria-controls');

      setTimeout(() => {
      $(`.tab-pane.code.${left_file_id}`).addClass('active show');
      }, 200);

      $('.nav-item').children('button.nav-link.active').removeClass('active');
      $('.tab-pane.code.active').each(function(i, elem) {
        $(elem).removeClass('active');
      });
      $('.tab-pane.code.show').each(function(i, elem) {
        $(elem).removeClass('show');
      });

      left.children('button.nav-link').addClass('active');

      $(`.tab-pane.code.${this_file_id}`).remove();
      $(new_nav_item_entity).remove();

      {
        const file = new File({'module_id' : module_id, 'id' : left_file_id})
        file.setDropDownMenuLanguage();
      }

      console.log(file, 'ラスト')

    });
    // hljsを適用する処理
    const highlight = new HighLight(file.id);
    highlight.addInputEventHighLight();
    highlight.addFocusEventHighLight();
  });

  execute.addEventListener('click', function() {
    const xhr = new XMLHttpRequest();
    // xhr.open('POST', 'http://localhost:8000/create/', true);
    xhr.open('POST', "{{ request.scheme }}://{{ request.get_host }}/create/", true);
    xhr.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');

    csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
    const active_module_id = $('.module-box.show').attr('id');//ここ
    const activeFileTab = $('.tab-pane.code.show.active');
    const active_file_id = activeFileTab.attr('id')
    const code_name = activeFileTab.find('textarea').attr('name');
    const code = activeFileTab.find('textarea').val();
    const activeCode = activeFileTab.find('code.code-output')[0];
    const class_list = activeCode.classList;

    let language;
    for (let i = 0; i < class_list.length; i++) {
      if (LANGUAGES.includes((class_list[i]))) {
        language = class_list[i];
        break;
      }
    }

    console.log('sended code = ' + code);
    const post_param = 'language=' + language + '&' + code_name + '=' + encodeURIComponent(code) + '&' + 'csrfmiddlewaretoken=' + csrftoken + '&' + 'execute=true';
    xhr.send(post_param);
    console.log(language, '言語');

    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4) {
        if (xhr.status == 200) {
          console.log(JSON.parse(xhr.responseText));
          result = JSON.parse(xhr.responseText)['result'];
          // document.getElementsByClassName('output')[0].innerHTML = '<p>' + result + '</p>';
          document.getElementsByClassName('output')[0].innerHTML = result;
        }
      } else {
        console.log('通信中...')
        document.getElementsByClassName('output')[0].innerHTML = '<p>' + '通信中...' + '</p>';
      }
    }
  });

  function addClickEventToModuleAddButton() {
    const module_add_btn = $('.module-add-button')[0];
    module_add_btn.addEventListener('click', function() {
      // モジュール追加処理
      const module = new Module({});
      new_module = module.createElementNewModule();
      $('.module-add-button-box').before(new_module);

      // file nav-item, file tab-content追加処理
      const file = new File({'module_id' : module.id});
      const new_file_nav_item = file.createElementNewFileNavItem();
      const new_file_tab_content = file.createElementNewFileTabContent();
      $('.file-add').before(new_file_nav_item);
      $('.tab-content.files').append(new_file_tab_content);

      // 追加したモジュールにクリックイベントを付与する処理
      module.addClickEventActivateModule();
      module.addClickEventDeleteModule();

      // 新規追加したモジュールの新規ファイルに、
      // クリックしたら他のファイルのactiveをremoveする仕様をつける
      const new_nav_item_entity = $('.file-add').prev();
      new_nav_item_entity.on('click', function() {
        $('.nav-item').not($(this)).not('#input-nav-item').not('#output-nav-item').each(function(index, element) {
          $(element).removeClass('active');
        });
        if (file.exists()) {
          file.setDropDownMenuLanguage();
        }
      });
      $(new_nav_item_entity).children('button.nav-link').children('span').on('click', function(e) {
        e.stopPropagation();

        const this_file_id = file.id;
        const module_id = module.id;

        const left = $(`.nav-item.${module_id}`).not($(new_nav_item_entity)).not('#input-nav-item').not('#output-nav-item').first();
        const left_file_id = left.children('button.nav-link').attr('aria-controls');

        setTimeout(() => {
        $(`.tab-pane.code.${left_file_id}`).addClass('active show');
        }, 200);

        $('.nav-item').children('button.nav-link.active').removeClass('active');
        $('.tab-pane.code.active').each(function(i, elem) {
          $(elem).removeClass('active');
        });
        $('.tab-pane.code.show').each(function(i, elem) {
          $(elem).removeClass('show');
        });

        left.children('button.nav-link').addClass('active');

        $(`.tab-pane.code.${this_file_id}`).remove();
        $(new_nav_item_entity).remove();

        {
          const file = new File({'module_id' : module_id, 'id' : left_file_id});
          file.setDropDownMenuLanguage();
        }
      });
    });
  }
  addClickEventToModuleAddButton();

  const module_close_btn = document.getElementsByClassName('module-toggle close')[0];
  const module_open_btn = document.getElementsByClassName('module-toggle open')[0];

  const addClickEventToModuleCloseBtn = function() {
    module_close_btn.addEventListener('click', function() {
      const active_module_id = $('.module-box.show').attr('id');
      const non_active_modules = $('.module-box').not('.' + active_module_id);
      console.log(active_module_id);
      console.log(non_active_modules);
      for (let i = 0; i < non_active_modules.length; i++) {
        non_active_modules[i].classList.add('close');
      }
      module_open_btn.classList.add('active');
      module_close_btn.classList.remove('active');
    });
  }
  const addClickEventToModuleOpenBtn = function() {
    module_open_btn.addEventListener('click', function() {
      const active_module_id = $('.module-box.show').attr('id');
      const non_active_modules = $('.module-box').not('.' + active_module_id);
      console.log(active_module_id)
      console.log(non_active_modules);
      for (let i = 0; i < non_active_modules.length; i++) {
        non_active_modules[i].classList.remove('close');
      }
      module_open_btn.classList.remove('active');
      module_close_btn.classList.add('active')
    });
  }
  addClickEventToModuleCloseBtn();
  addClickEventToModuleOpenBtn();

  const codes_close_btn = document.getElementsByClassName('codes-toggle close')[0];
  const codes_open_btn = document.getElementsByClassName('codes-toggle open')[0];
  const addClickEventToCodesCloseBtn = function() {
    codes_close_btn.addEventListener('click', function() {
      const codes = document.getElementsByClassName('codes')[0];
      codes.classList.add('close');
      codes.classList.remove('open');

      codes_open_btn.classList.add('active');
      codes_close_btn.classList.remove('active')
    });
  }
  const addClickEventToCodesOpenBtn = function() {
    codes_open_btn.addEventListener('click', function() {
      const codes = document.getElementsByClassName('codes')[0];
      codes.classList.add('open');
      codes.classList.remove('close');

      codes_open_btn.classList.remove('active');
      codes_close_btn.classList.add('active')
    });
  }
  addClickEventToCodesCloseBtn();
  addClickEventToCodesOpenBtn();

  // 言語選択したときにcodeやドロップダウンメニューの表示を対応させる処理
  const dropdowntoggle = document.getElementById('language-dropdownmenu-button');
  const dropdownitems = document.getElementsByClassName('language-dropdownitem');
  for (let i = 0; i < dropdownitems.length; i++) {
    const dropdownitem = dropdownitems[i];
    dropdownitem.addEventListener('click', function() {
      const language = this.value;
      dropdowntoggle.setAttribute('value', language); // ここで言語のvalueを設定してる
      const activeFileTab = document.querySelector('.tab-pane.code.show.active');

      const activeCode = $(activeFileTab).find('code.code-output')[0];
      //どうやらcodeタグのclassにpython, language-pythonのように言語の識別子がついているらしい
      {
        const class_list = activeCode.classList;
        class_str = '';
        //ここは言語のclassを取り除いてる
        for (let i = 0; i < class_list.length; i++) {
          if (LANGUAGES.includes(class_list[i]) || LANGUAGES.includes(class_list[i].replace('language-', ''))) {
            continue
          }
          class_str = class_str + class_list[i] + ' ';
        }
        // ここで新しい言語クラスをくっつけてる
        class_str += (language + ' ' + 'language-' + language);
        activeCode.setAttribute('class', class_str);
      }
      // 言語の変更によりハイライトの仕様が変わる場合がある
      const file_id = activeFileTab.id;
      const highlight = new HighLight(file_id);
      hljs.initHighlightingOnLoad();
    });
  }

  const modules = document.querySelectorAll('.module-name-box');
  for (let i = 0; i < modules.length; i++) {
    const module_entity = modules[i];
    const module_id = $(module_entity).parent('.module-box').attr('id');
    const module = new Module({ 'id': module_id });

    module.addClickEventActivateModule();
    // module_entity.addEventListener('click', function() {
    // });
    // 削除ボタンを押したときにモジュールを削除するクリックイベントも付与
    module.addClickEventDeleteModule();
  }

  // ファイルタブをクリックしたとき、他のファイルタブのactiveを無効にする仕様を追加
  // この処理はfileaddボタンから新規追加したファイルと、
  // moduleaddボタンから新規追加したファイルでも必要になる
  const file_nav_items = $('.nav-item').not('#input-nav-item').not('#output-nav-item').each(function(index, navitem) {
    navitem.addEventListener('click', function(events) {

      // spanタグをクリックしたら、ファイルの削除を実行する
      const clicked_elem = events.target;
      const file_delete_btn = $(this).children('button.nav-link').children('span').get()[0];

      if (clicked_elem.isEqualNode(file_delete_btn)) {
        // 不要
        return false;
      }

      $('.nav-item').not($(this)).not('#input-nav-item').not('#output-nav-item').each(function(index, element) {
        $(element).find('button').removeClass('active');
      });

      const module_id = $('.module-box.show').attr('id');
      const file_id = $(navitem).find('button').attr('aria-controls');
      const file = new File({'module_id' : module_id, 'id' : file_id});

      // ドロップダウンの言語をファイルに合わせるために、
      // fileインスタンスを生成してメソッドを呼び出す必要があり、
      // そのためだけにモジュールidとfileidを求めてた
      file.setDropDownMenuLanguage();
    });
  });

  $('.nav-item').not('#input-nav-item').not('#output-nav-item').each(function(index, navitem) {
    $(navitem).children('button.nav-link').children('span').on('click', function(e) {
      // ファイル削除ボタン(span)をクリックしたときのイベントなので、
      // 親要素のnav-itemへのイベント伝播は阻止する
      e.stopPropagation();

      const this_file_id = $(navitem).children('button.nav-link').attr('aria-controls');
      const module_id = $('.module-box.show').attr('id');

      const left = $(`.nav-item.${module_id}`).not($(navitem)).not('#input-nav-item').not('#output-nav-item').first();
      const left_file_id = left.children('button.nav-link').attr('aria-controls');

      // ※苦肉の策
      // ファイルの削除ボタンを押したらfile tabとfile contentをremoveして他のファイルをactiveにしたいのだが、
      // このときに他のfile contentにactiveクラスをつけると必ず一連のクリックイベント処理終了後にactiveが取り除かれてしまう
      // event.stopPropagationをしてもreturn falseをしても止めることはできなかった
      // おそらくbootstrapのtabをクリックしたときの仕様だと思われる
      // setTimeoutの遅延秒数も100ミリ秒程度ではだめだった
      setTimeout(() => {
      $(`.tab-pane.code.${left_file_id}`).addClass('active show');
      }, 200);

      // 一旦すべてのタブを非activeにする
      $('.nav-item').children('button.nav-link.active').removeClass('active');
      $('.tab-pane.code.active').each(function(i, elem) {
        $(elem).removeClass('active');
      });
      $('.tab-pane.code.show').each(function(i, elem) {
        $(elem).removeClass('show');
      });

      // 同じモジュールの一番左のファイルをactiveにしたい
      left.children('button.nav-link').addClass('active');

      // ファイルの削除実行
      $(`.tab-pane.code.${this_file_id}`).remove();
      $(navitem).remove();

      const file = new File({'module_id' : module_id, 'id' : left_file_id});
      file.setDropDownMenuLanguage();

    });
  });

</script>
<script>

</script>
{% endblock %}

{% block content %}
{% include "components/header.html" %}

<main id="main" class="container">
  <form class="form" action="{{ request.scheme }}://{{ request.get_host }}/create/" method="POST">
    <div class="article-title-box">
      <input type="hidden" name="article-id" value="{% if article != None %}{{ article.id }}{% else %}{% endif %}">
      <input type="text" class="article-title-form" name="article-title" value="{% if article != None %}{{ article.title }}{% endif %}" placeholder="記事のタイトル">
    </div>

    <div class="module-container">
      <div class="codes-toggle-button-box">
        <span><i class="fa-solid fa-code codes-toggle open"></i></span>
        <span><i class="fa-solid fa-pen-to-square codes-toggle close active"></i></span>
      </div>
      <div class="module-toggle-button-box">
        <span><i class="fa-solid fa-chevron-down module-toggle close active"></i></span>
        <span><i class="fa-solid fa-chevron-up module-toggle open"></i></span>
      </div>
      <div class="box">
        <!-- モジュールがなかったら新規モジュールを初期セット -->
        {% if modules == None %}
          <div id="modulenew0" class="modulenew0 module-box new show">
            <div class="module-name-box">
              <div class="modulenew0 module-name">
                <input type="hidden" name="modulenew0-id" value="">
                <input id="modulenew0-name-form" type="text" class="modulenew0 module-name-form" name="modulenew0-name" value="" placeholder="モジュール名">
              </div>
              <div class="module-name-edit">
                <label for="modulenew0-name-form">
                  <span><i class="fa-solid fa-pen"></i></span>
                </label>
              </div>
              <div class="module-delete modulenew0">
                <div>
                  <span><i class="fa-solid fa-trash"></i></span>
                </div>
              </div>
            </div>
          </div>
        {% else %}
        <!-- モジュールがあったら繰り返し -->
          {% for key, value in modules.items %}
            <div id="module{{ value.module.id }}" class="module{{ value.module.id }} module-box {% if key is 0 %}show{% endif %}">
              <div class="module-name-box">
                <div class="module{{ value.module.id }} module-name">
                  <input type="hidden" name="module{{ value.module.id }}-id" value="{{ value.module.id }}">
                  <input id="module{{ value.module.id }}-name-form" type="text" class="module{{ value.module.id }} module-name-form" name="module{{ value.module.id }}-name" value="{{ value.module.name }}">
                </div>
                <div class="module-name-edit">
                  <label for="module{{ value.module.id }}-name-form">
                    <span><i class="fa-solid fa-pen"></i></span>
                  </label>
                </div>
                <div class="module-delete module{{ value.module.id }}">
                  <div>
                    <span><i class="fa-solid fa-trash"></i></span>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
        <div class="module-add-button-box">
          <span class="module-add-button">＋</span>
        </div>
      </div>
    </div>

    <!-- ここからコード（記事 ⇔ コードtoggleボタンで隠したり出したりする） -->
    <div class="codes">

    <!-- 切り替えタブ -->
    <ul class="nav nav-tabs" role="tablist">
      {% include '../components/dropdownmenu.html' %}

      {% if modules == None %}
        <li class="nav-item modulenew0 new" role="presentation">
          <button
            class="nav-link new active"
            id="filenew0-tab"
            data-bs-toggle="tab"
            data-bs-target="#filenew0"
            type="button"
            role="tab"
            aria-controls="filenew0"
            aria-selected="true"
          >
          <input type="hidden" name="modulenew0_filenew0-id" value="">
          <input class="file-name-form" type="text" name="modulenew0_filenew0-name" value="" placeholder="ファイル名">
          <span>×</span>
          </button>
        </li>
      {% else %}
        {% for m_index, module in modules.items %}
          {% for f_index, file in module.files.items %}
            <li class="nav-item module{{ module.module.id }} {% if m_index is not 0 %}none{% endif %}" role="presentation">
              <button
                class="nav-link {% if f_index is 0 %}active{% endif %}"
                id="file{{ file.id }}-tab"
                data-bs-toggle="tab"
                data-bs-target="#file{{ file.id }}"
                type="button"
                role="tab"
                aria-controls="file{{ file.id }}"
                aria-selected="true"
              >
              <input type="hidden" name="module{{ module.module.id }}_file{{ file.id }}-id" value="{{ file.id }}">
              <input class="file-name-form" type="text" name="module{{ module.module.id }}_file{{ file.id }}-name" value="{{ file.file_tag_name }}">
              <span>×</span>
              </button>
            </li>
          {% endfor %}
        {% endfor %}
      {% endif %}

      <li class="file-add">
        <button type="button" id="file-add-button">＋</button>
      </li>

    </ul>

    <div class="tab-content files">
      {% if modules == None %}
        <div
        class="modulenew0 filenew0 tab-pane fade code active show"
        id="filenew0"
        role="tabpanel"
        aria-labelledby="filenew0-tab"
        >
          <div class="editor-container">
            <div class="editor-lines"></div>
            <div class="editor-main editor-code">
              <textarea class="editor editor-code editor-codefilenew0" cols="30" rows="30" name="modulenew0_filenew0-code"></textarea>
              <pre><code class="python code-output code-outputfilenew0 language-python"></code></pre>
            </div>
            <div class="line-highlight"></div>
          </div>
        </div>
      {% else %}
        {% for m_index, module in modules.items %}
          {% for f_index, file in module.files.items %}
            <div
              class="module{{ module.module.id }} file{{ file.id }} tab-pane fade code {% if f_index is 0 and m_index is 0 %}show active{% endif %}"
              id="file{{ file.id }}"
              role="tabpanel"
              aria-labelledby="file{{ file.id }}-tab"
            >
            {% include '../components/editor.html' %}
            </div>
          {% endfor %}
        {% endfor %}
      {% endif %}
    </div>

    {% include '../components/tabs.html' %}
    </div>
    <!-- ここまでコード -->

    {% include '../components/article-body.html' %}
    {% csrf_token %}
  </form>
</main>
{% endblock %}
