{% extends '../app_base.html' %}
{% load static %}

{% block styles %}
<!-- font-awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- bootstrap styles -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<!-- highlight.js styles -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/base16/summerfruit-light.min.css">

<!-- app styles -->
<link rel="stylesheet" href="{% static 'css/init.css' %}">
<link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock %}

{% block endbody_script %}
<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

<!-- highlight.js -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
  const editors = document.querySelectorAll('textarea.editor-code');
  const code_outputs = document.querySelectorAll('code.code-output');
  for (let i = 0; i < editors.length; i++) {
    editors[i].addEventListener('input', function() {
      code_outputs[i].textContent = this.value;
      hljs.initHighlightingOnLoad();

      const parent = this;
      const lines = function() { return parent.value.split(/\r*\n/); }
      const lineCount = (function() { return lines().length; })()
      console.log(lineCount);

      const activeFileTab = document.querySelector('.tab-pane.code.show.active');
      const activeEditorLines = $(activeFileTab).find('.editor-container .editor-lines')[0];
      let elements = ''
      for (let i = 1; i <= lineCount; i++) {
        elements += `<div class="line"><span>${i}</span></div>`;
      }
      activeEditorLines.innerHTML = elements;

      const line_highlight = $('.line-highlight');
      line_highlight.css('top', `calc(23.625px * ${lineCount - 1})`);
    });

    editors[i].addEventListener('focus', function() {
      const parent = this;
      const lines = function() { return parent.value.split(/\r*\n/); }
      const lineCount = (function() { return lines().length; })()
      console.log(lineCount);

      const activeFileTab = document.querySelector('.tab-pane.code.show.active');
      const activeEditorLines = $(activeFileTab).find('.editor-container .editor-lines')[0];
      let elements = ''
      for (let i = 1; i <= lineCount; i++) {
        elements += `<div class="line"><span>${i}</span></div>`;
      }
      activeEditorLines.innerHTML = elements;

      const line_highlight = $('.line-highlight');
      line_highlight.css('top', `calc(23.625px * ${lineCount - 1})`);
    });
  }

  const execute = document.getElementsByClassName('execute')[0].firstElementChild;
  console.log(document.getElementsByName('csrfmiddlewaretoken')[0].value);

  const file_add_button = document.getElementById('file-add-button');
  file_add_button.addEventListener('click', function() {
    const active_module_id = $('.module-box.show').attr('id');
    const count_new_file = $('ul.nav.nav-tabs').children('li.nav-item.new').length;
    const new_file_nav_item = `<li class="nav-item ${active_module_id} new" role="presentation">
          <button
            class="nav-link new"
            id="file_new${count_new_file}-tab"
            data-bs-toggle="tab"
            data-bs-target="#file_new${count_new_file}"
            type="button"
            role="tab"
            aria-controls="file_new${count_new_file}"
            aria-selected="true"
          >
          <input class="file-name-form" type="text" name="file_new${count_new_file}-name" value="" placeholder="ファイル名">
          <span>×</span>
          </button>
        </li>`;
    $(file_add_button).parent('.file-add').before(new_file_nav_item);

    const new_tab_pane = `<div
        class="${active_module_id} file_new${count_new_file} tab-pane fade code"
        id="file_new${count_new_file}"
        role="tabpanel"
        aria-labelledby="file_new${count_new_file}-tab"
        >
          <div class="editor-container">
            <div class="editor-lines"></div>
            <div class="editor-main editor-code">
              <textarea class="editor editor-code editor-codefile_new${count_new_file}" cols="30" rows="30" name="${active_module_id}file_new${count_new_file}-code"></textarea>
              <pre><code class="python code-output code-outputfile_new${count_new_file}"></code></pre>
            </div>
            <div class="line-highlight"></div>
          </div>
        </div>`;
    $('.tab-content.files').append(new_tab_pane);

    // hljsを適用する処理
    const created_file = $(`.tab-pane.code.file_new${count_new_file}`);
    const created_editor = created_file.find('textarea.editor-code')[0];
    const created_code_output = created_file.find('code.code-output')[0];

    created_editor.addEventListener('input', function() {
      created_code_output.textContent = this.value;
      hljs.initHighlightingOnLoad();

      const parent = this;
      const lines = function() { return parent.value.split(/\r*\n/); }
      const lineCount = (function() { return lines().length; })()
      console.log(lineCount);

      const activeFileTab = document.querySelector('.tab-pane.code.show.active');
      const activeEditorLines = $(activeFileTab).find('.editor-container .editor-lines')[0];
      let elements = ''
      for (let i = 1; i <= lineCount; i++) {
        elements += `<div class="line"><span>${i}</span></div>`;
      }
      activeEditorLines.innerHTML = elements;

      const line_highlight = $('.line-highlight');
      line_highlight.css('top', `calc(23.625px * ${lineCount - 1})`);
    });

    // focusイベントでも発火させないと、行数が表示されない
    created_editor.addEventListener('focus', function() {
      const parent = this;
      const lines = function() { return parent.value.split(/\r*\n/); }
      const lineCount = (function() { return lines().length; })()
      console.log(lineCount);

      const activeFileTab = document.querySelector('.tab-pane.code.show.active');
      const activeEditorLines = $(activeFileTab).find('.editor-container .editor-lines')[0];
      let elements = ''
      for (let i = 1; i <= lineCount; i++) {
        elements += `<div class="line"><span>${i}</span></div>`;
      }
      activeEditorLines.innerHTML = elements;

      const line_highlight = $('.line-highlight');
      line_highlight.css('top', `calc(23.625px * ${lineCount - 1})`);
    });

  });

  execute.addEventListener('click', function() {
    const xhr = new XMLHttpRequest();
    xhr.open('POST', 'http://localhost:8000/create/', true);
    xhr.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');

    csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
    const active_module_id = $('.module-box.show').attr('id');//ここ
    const activeFileTab = $('.tab-pane.code.show.active');
    const active_file_id = activeFileTab.attr('id')
    const code_name = activeFileTab.find('textarea').attr('name');
    const code = activeFileTab.find('textarea').val();
    const activeCode = activeFileTab.find('code.code-output')[0];
    const class_list = activeCode.classList;

    let language;
    for (let i = 0; i < class_list.length; i++) {
      if (LANGUAGES.includes((class_list[i]))) {
        language = class_list[i];
        break;
      }
    }

    console.log('sended code = ' + code);
    const post_param = 'language=' + language + '&' + code_name + '=' + encodeURIComponent(code) + '&' + 'csrfmiddlewaretoken=' + csrftoken;
    xhr.send(post_param);
    console.log(language, '言語');

    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4) {
        if (xhr.status == 200) {
          console.log(JSON.parse(xhr.responseText));
          result = JSON.parse(xhr.responseText)['result'];
          document.getElementsByClassName('output')[0].innerHTML = '<p>' + result + '</p>';
        }
      } else {
        console.log('通信中...')
        document.getElementsByClassName('output')[0].innerHTML = '<p>' + '通信中...' + '</p>';
      }
    }
  });

  const module_add_btn = $('.module-add-button')[0];
  module_add_btn.addEventListener('click', function() {
    // モジュール追加処理
    const count_new_module_box = $('.module-box.new').length;
    const module_id = 'module_new' + String(count_new_module_box);
    const new_module_box = `<div id="${module_id}" class="${module_id} module-box new">
          <div class="module-name-box">
            <div class="${module_id} module-name">
              <input id="${module_id}-name-form" type="text" class="${module_id} module-name-form" name="${module_id}-name" value="" placeholder="モジュール名">
            </div>
            <div class="module-name-edit">
              <label for="${module_id}-name-form">
                <span><i class="fa-solid fa-pen"></i></span>
              </label>
            </div>
          </div>
        </div>`;
    const module_add_button = $('.module-add-button-box');
    module_add_button.before(new_module_box)

    // 追加したモジュールにファイルタブを用意する処理
    const count_new_file = $('ul.nav.nav-tabs').children('li.nav-item.new').length;
    const new_file_nav_item = `<li class="nav-item ${module_id} new none" role="presentation">
            <button
              class="nav-link new"
              id="file_new${count_new_file}-tab"
              data-bs-toggle="tab"
              data-bs-target="#file_new${count_new_file}"
              type="button"
              role="tab"
              aria-controls="file_new${count_new_file}"
              aria-selected="true"
            >
            <input class="file-name-form" type="text" name="file_new${count_new_file}-name" value="" placeholder="ファイル名">
            <span>×</span>
            </button>
          </li>`;
    const file_add_button = $('.file-add');
    file_add_button.before(new_file_nav_item);

    // 追加したファイルタブに対応するコンテンツを追加する処理
    const new_tab_pane = `<div
      class="${module_id} file_new${count_new_file} tab-pane fade code"
      id="file_new${count_new_file}"
      role="tabpanel"
      aria-labelledby="file_new${count_new_file}-tab"
    >
    <div class="editor-container">
      <div class="editor-lines"></div>
      <div class="editor-main editor-code">
        <textarea class="editor editor-code editor-codefile_new${count_new_file}" cols="30" rows="30" name="${module_id}file_new${count_new_file}-code"></textarea>
        <pre><code class="python code-output code-outputfile_new${count_new_file}"></code></pre>
      </div>
      <div class="line-highlight"></div>
    </div>
    </div>`;
    $('.tab-content.files').append(new_tab_pane);

    // 追加したモジュールにクリックイベントを付与する処理
    const appended_module_box = $('.module-box').last()[0];
    appended_module_box.addEventListener('click', function() {
      const active_nav_items = $(`.nav-item.${module_id}`);
      for (let i = 0; i < active_nav_items.length; i++) {
        $(active_nav_items[i]).removeClass('none');
        $(active_nav_items[i]).find('button.nav-link.active').removeClass('active');
      }
      $(this).addClass('show');

      $(active_nav_items[0]).find('button.nav-link').addClass('active');
      const non_active_nav_items = $('.nav-item').not(`.${module_id}`).not('#input-nav-item').not('#output-nav-item');
      for (let i = 0; i < non_active_nav_items.length; i++) {
        $(non_active_nav_items[i]).addClass('none');
        $(non_active_nav_items[i]).find('button.nav-link.active').not('#input-tab').not('#output-tab').removeClass('active');
      }
      $('.module-box').not(`.${module_id}`).removeClass('show');

      $('.tab-pane.code.active.show').removeClass('active show');
      const visible_tab_contents = $(`.tab-pane.code.file_new${count_new_file}`);
      $(visible_tab_contents[0]).addClass('active show');
      for (let i = 0; i < visible_tab_contents.length; i++) {
        $(visible_tab_contents[i]).removeClass('none');
      }
      // const non_visible_tab_contents = $('.tab-pane.code').not(`.file_new${count_new_file}`); # モジュールIDでは？
      const non_visible_tab_contents = $('.tab-pane.code').not(`.${module_id}`);
      for (let i = 0; i < non_visible_tab_contents.length; i++) {
        $(non_visible_tab_contents[i]).addClass('none');
      }

      // hljsを適用する処理
      const created_file = $(`.tab-pane.code.active.show.file_new${count_new_file}`);
      const created_editor = created_file.find('textarea.editor-code')[0];
      const created_code_output = created_file.find('code.code-output')[0];

      created_editor.addEventListener('input', function() {
        created_code_output.textContent = this.value;
        hljs.initHighlightingOnLoad();

        const parent = this;
        const lines = function() { return parent.value.split(/\r*\n/); }
        const lineCount = (function() { return lines().length; })()
        console.log(lineCount);

        const activeFileTab = document.querySelector('.tab-pane.code.show.active');
        const activeEditorLines = $(activeFileTab).find('.editor-container .editor-lines')[0];
        let elements = ''
        for (let i = 1; i <= lineCount; i++) {
          elements += `<div class="line"><span>${i}</span></div>`;
        }
        activeEditorLines.innerHTML = elements;

        const line_highlight = $('.line-highlight');
        line_highlight.css('top', `calc(23.625px * ${lineCount - 1})`);
      });

      // focusイベントでも発火させないと、行数が表示されない
      created_editor.addEventListener('focus', function() {
        const parent = this;
        const lines = function() { return parent.value.split(/\r*\n/); }
        const lineCount = (function() { return lines().length; })()
        console.log(lineCount);

        const activeFileTab = document.querySelector('.tab-pane.code.show.active');
        const activeEditorLines = $(activeFileTab).find('.editor-container .editor-lines')[0];
        let elements = ''
        for (let i = 1; i <= lineCount; i++) {
          elements += `<div class="line"><span>${i}</span></div>`;
        }
        activeEditorLines.innerHTML = elements;

        const line_highlight = $('.line-highlight');
        line_highlight.css('top', `calc(23.625px * ${lineCount - 1})`);
      });

    });
  });


  const module_close_btn = document.getElementsByClassName('module-toggle close')[0];
  const module_open_btn = document.getElementsByClassName('module-toggle open')[0];

  const addClickEventToModuleCloseBtn = function() {
    module_close_btn.addEventListener('click', function() {
      const active_module_id = $('.module-box.show').attr('id');
      const non_active_modules = $('.module-box').not('.' + active_module_id);
      console.log(active_module_id);
      console.log(non_active_modules);
      for (let i = 0; i < non_active_modules.length; i++) {
        non_active_modules[i].classList.add('close');
      }
      module_open_btn.classList.add('active');
      module_close_btn.classList.remove('active');
    });
  }
  const addClickEventToModuleOpenBtn = function() {
    module_open_btn.addEventListener('click', function() {
      const active_module_id = $('.module-box.show').attr('id');
      const non_active_modules = $('.module-box').not('.' + active_module_id);
      console.log(active_module_id)
      console.log(non_active_modules);
      for (let i = 0; i < non_active_modules.length; i++) {
        non_active_modules[i].classList.remove('close');
      }
      module_open_btn.classList.remove('active');
      module_close_btn.classList.add('active')
    });
  }
  addClickEventToModuleCloseBtn();
  addClickEventToModuleOpenBtn();

  const codes_close_btn = document.getElementsByClassName('codes-toggle close')[0];
  const codes_open_btn = document.getElementsByClassName('codes-toggle open')[0];
  const addClickEventToCodesCloseBtn = function() {
    codes_close_btn.addEventListener('click', function() {
      const codes = document.getElementsByClassName('codes')[0];
      codes.classList.add('close');
      codes.classList.remove('open');

      codes_open_btn.classList.add('active');
      codes_close_btn.classList.remove('active')
    });
  }
  const addClickEventToCodesOpenBtn = function() {
    codes_open_btn.addEventListener('click', function() {
      const codes = document.getElementsByClassName('codes')[0];
      codes.classList.add('open');
      codes.classList.remove('close');

      codes_open_btn.classList.remove('active');
      codes_close_btn.classList.add('active')
    });
  }
  addClickEventToCodesCloseBtn();
  addClickEventToCodesOpenBtn();

  // 言語選択したときにcodeやドロップダウンメニューの表示を対応させる処理
  const dropdowntoggle = document.getElementById('language-dropdownmenu-button');
  const dropdownitems = document.getElementsByClassName('language-dropdownitem');
  for (let i = 0; i < dropdownitems.length; i++) {
    const dropdownitem = dropdownitems[i];
    dropdownitem.addEventListener('click', function() {
      const language = this.value;
      dropdowntoggle.setAttribute('value', language);
      const activeFileTab = document.querySelector('.tab-pane.code.show.active');
      const activeCode = $(activeFileTab).find('code.code-output')[0];
      {
        const class_list = activeCode.classList;
        class_str = '';
        for (let i = 0; i < class_list.length; i++) {
          if (LANGUAGES.includes(class_list[i]) || LANGUAGES.includes(class_list[i].replace('language-', ''))) {
            continue
          }
          class_str = class_str + class_list[i] + ' ';
        }
        class_str += (language + ' ' + 'language-' + language);
        activeCode.setAttribute('class', class_str);
      }
    });
  }

  const modules = document.querySelectorAll('.module-name-box');
  for (let i = 0; i < modules.length; i++) {
    modules[i].addEventListener('click', function() {
      const clicked_module_id = $(this).parent('.module-box').attr('id');
      console.log(clicked_module_id, 'あああいい')
      // 違うモジュールのファイルタブの停止
      const active_nav_items = $(`.nav-item.${clicked_module_id}`).not('#input-tab').not('#output-tab');
      console.log(active_nav_items, 'えええいい')
      for (let i = 0; i < active_nav_items.length; i++) {
        $(active_nav_items[i]).removeClass('none');
        $(active_nav_items[i]).find('button.nav-link.active').removeClass('active');
        //複数タブactiveになっている可能性があるから、すべて非activeにしたあとactiveにする
      }
      $(this).parent('.module-box').addClass('show');
      console.log($(this).parent('.module-box'), 'ここここ')

      $(active_nav_items[0]).find('button.nav-link').addClass('active');
      console.log($(active_nav_items[0]).find('button.nav-link'), 'here')
      const non_active_nav_items = $('.nav-item').not(`.${clicked_module_id}`).not('#input-nav-item').not('#output-nav-item');
      console.log(non_active_nav_items)
      for (let i = 0; i < non_active_nav_items.length; i++) {
        $(non_active_nav_items[i]).addClass('none');
        $(non_active_nav_items[i]).find('button.nav-link.active').not('#input-tab').not('#output-tab').removeClass('active');
      }
      $('.module-box').not(`.${clicked_module_id}`).removeClass('show');

      $('.tab-pane.code.active.show').removeClass('active show');
      const visible_tab_contents = $(`.tab-pane.code.${clicked_module_id}`);
      console.log(visible_tab_contents, 'あいうえお')
      $(visible_tab_contents[0]).addClass('active show');
      for (let i = 0; i < visible_tab_contents.length; i++) {
        $(visible_tab_contents[i]).removeClass('none');
      }
      const non_visible_tab_contents = $('.tab-pane.code').not(`.${clicked_module_id}`);
      for (let i = 0; i < non_visible_tab_contents.length; i++) {
        $(non_visible_tab_contents[i]).addClass('none');
      }
    })
  }

</script>
<script src="{% static 'js/article_create.js' %}"></script>
<script>
  console.log('あああ');
  const module = new Module({name : 'モジュール'});
  console.log(module);

  // console.log(module.getActiveModuleId());
  // console.log(module.getNewModuleBoxCount());
  // console.log(module.getNewModuleId());
  // console.log(module.createNewModule());
  console.log(module.addClickEventActivateModule());
</script>
{% endblock %}

{% block content %}
<header></header>

<main id="main" class="container">
  <form action="http://localhost:8000/create/" method="POST">
    <div class="article-title-box">
      <input type="text" class="article-title-form" name="article-title" value="記事のタイトル">
    </div>

    <div class="module-container">
      <div class="codes-toggle-button-box">
        <span><i class="fa-solid fa-code codes-toggle open"></i></span>
        <span><i class="fa-solid fa-pen-to-square codes-toggle close active"></i></span>
      </div>
      <div class="module-toggle-button-box">
        <span><i class="fa-solid fa-chevron-down module-toggle close active"></i></span>
        <span><i class="fa-solid fa-chevron-up module-toggle open"></i></span>
      </div>
      <div class="box">
        <!-- モジュールがなかったら新規モジュールを初期セット -->
        {% if modules == None %}
          <div id="module_new0" class="module_new0 module-box new show">
            <div class="module-name-box">
              <div class="module_new0 module-name">
                <input id="module_new0-name-form" type="text" class="module_new0 module-name-form" name="module_new0-name" value="" placeholder="モジュール名">
              </div>
              <div class="module-name-edit">
                <label for="module_new0-name-form">
                  <span><i class="fa-solid fa-pen"></i></span>
                </label>
              </div>
            </div>
          </div>
        {% else %}
        <!-- モジュールがあったら繰り返し -->
          {% for key, value in modules.items %}
            <div id="module{{ value.module.id }}" class="module{{ value.module.id }} module-box {% if key is 0 %}show{% endif %}">
              <div class="module-name-box">
                <div class="module{{ value.module.id }} module-name">
                  <input id="module{{ value.module.id }}-name-form" type="text" class="module{{ value.module.id }} module-name-form" name="module{{ value.module.id }}-name" value="{{ value.module.name }}">
                </div>
                <div class="module-name-edit">
                  <label for="module{{ value.module.id }}-name-form">
                    <span><i class="fa-solid fa-pen"></i></span>
                  </label>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
        <div class="module-add-button-box">
          <span class="module-add-button">＋</span>
        </div>
      </div>
    </div>

    <!-- ここからコード（記事 ⇔ コードtoggleボタンで隠したり出したりする） -->
    <div class="codes">

    <!-- 切り替えタブ -->
    <ul class="nav nav-tabs" role="tablist">
      {% include '../components/dropdownmenu.html' %}

      {% if modules == None %}
        <li class="nav-item module_new0 new" role="presentation">
          <button
            class="nav-link new active"
            id="file_new0-tab"
            data-bs-toggle="tab"
            data-bs-target="#file_new0"
            type="button"
            role="tab"
            aria-controls="file_new0"
            aria-selected="true"
          >
          <input class="file-name-form" type="text" name="file_new0-name" value="" placeholder="ファイル名">
          <span>×</span>
          </button>
        </li>
      {% else %}
        {% for m_index, module in modules.items %}
          {% for f_index, file in module.files.items %}
            <li class="nav-item module{{ module.module.id }} {% if m_index is not 0 %}none{% endif %}" role="presentation">
              <button
                class="nav-link {% if f_index is 0 %}active{% endif %}"
                id="file{{ file.id }}-tab"
                data-bs-toggle="tab"
                data-bs-target="#file{{ file.id }}"
                type="button"
                role="tab"
                aria-controls="file{{ file.id }}"
                aria-selected="true"
              >
              <input class="file-name-form" type="text" name="module{{ module.module.id }}file{{ file.id }}-name" value="{{ file.file_tag_name }}">
              <span>×</span>
              </button>
            </li>
          {% endfor %}
        {% endfor %}
      {% endif %}

      <li class="file-add">
        <button type="button" id="file-add-button">＋</button>
      </li>

    </ul>

    <div class="tab-content files">
      {% if modules == None %}
        <div
        class="module_new0 file_new0 tab-pane fade code active show"
        id="file_new0"
        role="tabpanel"
        aria-labelledby="file_new0-tab"
        >
          <div class="editor-container">
            <div class="editor-lines"></div>
            <div class="editor-main editor-code">
              <textarea class="editor editor-code editor-codefile_new0" cols="30" rows="30" name="module_new0file_new0-code"></textarea>
              <pre><code class="python code-output code-outputfile_new0"></code></pre>
            </div>
            <div class="line-highlight"></div>
          </div>
        </div>
      {% else %}
        {% for m_index, module in modules.items %}
          {% for f_index, file in module.files.items %}
            <div
              class="module{{ module.module.id }} file{{ file.id }} tab-pane fade code {% if f_index is 0 and m_index is 0 %}show active{% endif %}"
              id="file{{ file.id }}"
              role="tabpanel"
              aria-labelledby="file{{ file.id }}-tab"
            >
            {% include '../components/editor.html' %}
            </div>
          {% endfor %}
        {% endfor %}
      {% endif %}
    </div>

    {% include '../components/tabs.html' %}
    </div>
    <!-- ここまでコード -->

    {% include '../components/article-body.html' %}
    {% csrf_token %}
  </form>
</main>
{% endblock %}
