<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django Template Language Practice</title>
  <style>
  </style>
</head>
<body>
  <p>Reference: https://man.plustar.jp/django/ref/templates/builtins.html#ref-templates-builtins-tags</p>

  変数
  {{ key }} {{ film }} {{ food }}
  <p>csrfトークン: {{ csrf_token }}</p>
  <p>csrfトークン: （input[type="hidden"]で隠れている）{% csrf_token %}</p>

  {% comment %}
  コメント機能（ここは無視される）
  ビューに渡されることもない
  {% endcomment %}

  <p>for文</p>
  {% for i in array %}
  {{ i }}
  {{ forloop.counter }} ループブロックで使える、ループ回数を数える便利な変数があるらしい
  {% endfor %}

  <p>if文</p>
  {% if food == "寿司" %}
  This is "if" block
  {% elif key == 'value' %}
  This is "elif" block
  {% else %}
  This is "else" block
  {% endif %}

  cycle
  {% for i in array %}
  {% cycle '赤' '青' %} cycleはループの中で使えて、引数の値を繰り返す
  {% endfor %}

  日付
  {% now "DATETIME_FORMAT" %}
  {% now "Y年m月d日H:i:s" %}
  {% now "Y" as current_year %} 変数を宣言できる
  {{ current_year }}
</body>
</html>
