<article>
  <div class="article-body">
    <h3>本文</h3>
    <div class="article-body-box">
      <textarea class="article-body-form" name="article-body" id="" cols="30" rows="10">{% if article != None %}{{ article.body }}{% endif %}</textarea>
    </div>
    <div class="article-submit">
      <div>
        {% if article == None %}
        <button type="submit" class="btn btn-danger">投稿</button>
        {% else %}
        <button type="submit" class="update btn btn-primary">更新</button>
        {% endif %}
      </div>
      {% comment %}
      <div>
        <button type="submit" class="btn btn-secondary">下書き</button>
      </div>
      {% endcomment %}
      {% if article == None %}
      {% else %}
      <div>
        <button type="button" class="delete btn btn-danger">削除</button>
      </div>
      {% endif %}
    </div>
  </div>
</article>
