<div class="dropdown">
  <input type="button" name="language-name" value="Language" class="btn btn-warning dropdown-toggle" id="language-dropdownmenu-button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <ul class="dropdown-menu" aria-labelledby="language-dropdownmenu-button">
    <li><button type="button" class="language-dropdownitem dropdown-item" value="Python">Python</button></li>
    <li><button type="button" class="language-dropdownitem dropdown-item" value="PHP">PHP</button></li>
    <li><button type="button" class="language-dropdownitem dropdown-item" value="Ruby">Ruby</button></li>
  </ul>
</div>
