<div class="editor-container">
  <div class="editor-lines">
    <div class="line">
      <span>1</span>
    </div>
    <div class="line">
      <span>2</span>
    </div>
    <div class="line">
      <span>3</span>
    </div>
    <div class="line">
      <span>4</span>
    </div>
    <div class="line">
      <span>5</span>
    </div>
  </div>
  <div class="editor-main editor-code">
    <textarea id="editor-code" class="editor" cols="30" rows="30" name="module1file1-code"></textarea>
    <pre><code id="code-output" class="python"></code></pre>
  </div>
  <div class="line-highlight"></div>
  <div class="line-highlight2"></div>
  <div class="line-highlight3"></div>
  <div class="line-highlight4"></div>
</div>

